@import "tailwindcss";

@theme {
  /* CSS HEX */
  --color-primary: #e7000bff;
  --color-secondary: #067bc2ff;
  --color-accent: #071108ff;
  --color-neutral-light: #ffffffff;
  --color-neutral-dark: #cdd7d6ff;

  --color-surface-0: #ffffff;
  --color-surface-1: #fafafa;
  --color-surface-2: #f5f5f5;
  --color-surface-3: #eeeeee;
  --color-surface-4: #e0e0e0;
  --color-surface-5: #d6d6d6;

  --font-inter: var(--font-inter);
}
@layer components {
  .interactable {
    @apply relative bg-neutral-200 after:content-[""] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:border-inherit after:bg-neutral-950 after:opacity-0 hover:after:opacity-[0.08] focus:after:opacity-[0.1] active:after:opacity-[0.16] after:transition-opacity;
  }
}
